
body {
  padding: 55px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FBFBFF;
}

a.navbar-brand {
  font-family: 'Orbitron', sans-serif;
}

#btn-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
}

#btn-circle i {
  vertical-align: middle;
}


