extends layout

block content

  .container
    .row.clearfix
        .col-md-12.column
          nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .navbar-header
              //-button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') #{projectName}
            //- #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Link
                li
                  a(href='#') Link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    strong.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                    li.divider
                    li
                      a(href='#') One more separated link
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text')
                button.btn.btn-default(type='submit') Submit
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#') Link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    strong.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
          //-.jumbotron(style="padding-top: 20px; padding-bottom: 20px;")
            h1
              | Hi,
              span Oracle IoT Developer Challenge!
            p
              | We're applying our #{projectName}, combining the power of Java, Raspberry Pi and HTML5!
              br
              | We hope you enjoy it!
    .row.clearfix
      .col-md-6
        h2  Water Tank Level
        #levelGauge(style="height: 500px")
      .col-md-6
        .row
          h1  
            | Hello, Oracle IoT Developer Challenge!
          h4
            | We're applying our #{projectName}, combining the power of Java, Raspberry Pi and HTML5!
            br
            | We hope you enjoy it!
            br 
            br
            br
        .row
          h2  Pump Switch
          br
          input(type="checkbox", name="on-off-button", checked)


    script.

      var levelGauge;

      $(function() {

          levelGauge = new JustGage({
            id: "levelGauge", 
            value: 80, 
            //- min: 0,
            //- max: 100,
            //- title: "Water Level",
            //- titleFontColor: '#333333',
            valueFontColor : '#777777',
            //- label: "%",
            levelColors : ['#0088FF', '#0068EE', '#0055DD', '#0044CC', '#0044BB'],
            //- showMinMax: true,
            gaugeWidthScale: 0.3, 
            relativeGaugeSize: true,
            //- //-levelColorsGradient: true
            //- donut: true
            symbol: "\x25",
            min: 0,
            max: 100,
            showMinMax : false,
            label: "",
            title: " ",
            donut: true
        }); 


          $('[name="on-off-button"]').bootstrapSwitch();
        });