doctype html
html(lang="pt-br")
  head
    meta(charset="iso-8859-1")
    title= title
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    - var path = 'public/'
    - var projectName = 'Water Tank Control'

    script(src='#{path}addins/pace/pace.min.js')

    link(rel='stylesheet', href='#{path}addins/pace/pace.css')
    //-link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='#{path}addins/bootstrap/css/bootstrap.css')
    //-link(rel='stylesheet', href='#{path}addins/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='#{path}addins/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css')
    link(rel='stylesheet', href='#{path}stylesheets/style.css')

    script(src='#{path}addins/jquery-2.0.3.min.js')
    script(src='#{path}addins/justGage.1.0.1/resources/js/raphael.2.1.0.min.js')
    //- script(src='#{path}addins/justGage.1.0.1/resources/js/justgage.1.0.1.min.js')
    script(src='#{path}addins/justGage.js')

    script(src='#{path}addins/bootstrap-switch-master/dist/js/bootstrap-switch.min.js')
    script(src='#{path}addins/bootstrap/js/bootstrap.min.js')
    
  body
    block content